{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/app.css' %}" media="screen">
  <script src="{% static 'js/dist/app.js' %}" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Direita Unida {% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'img/logos.png' %}" />
  <meta name="theme-color" content="#ffffff">
  <meta name="keywords" content="Direita Unida, direita, união" />
  <meta name="description" content="Direita unida, a união faz a força" />
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'img/logos.png' %}">
</head>
<body>

  <nav class="transpar">
    <div class="nav-wrapper flexin">
      <a href="{% url 'website:home' %}" class="brand-logo center">
        <img src="{% static 'img/logos.png' %}" alt="" class="logo">
      </a>
      <a href="#" data-target="slide-out" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="left hide-on-med-and-down arm">
        <li><a href="/" class="color-gray">
          Home
        </a></li>
        <li>
          <a href="{% url 'grupo:grupos' %}" class="color-gray {% if request.resolver_match.url_name == "grupos"%}active{% endif %}">
            Grupos
          </a>
        </li>
        <li>
          <a href="/eventos/lista-de-eventos/" class="color-gray">
            Eventos
          </a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down arm">
          <li>
            <a href="{% url 'artigo:artigos' %}" class="color-gray">
              Artigos
            </a>
          </li>
          <li>
            <a href="{% url 'contato:contato' %}" class="color-gray">
              Contato
            </a>
          </li>
          <li>
            {% if user.is_authenticated %}
            <a class='dropdown-trigger color-gray outline' href='#' data-target='dropdown1'>Menu</a>
            <ul id='dropdown1' class='dropdown-content'>
              <li>
                <a class="color-gray" href="{% url 'usuario:perfil' %}"> Perfil </a>
              </li>
              <li>
                <a class="color-gray" href="{% url 'usuario:logout' %}"> Sair </a>
              </li>
            </ul>

            {% else %}
              <a href="{% url 'usuario:login' %}" class="color-gray {% if request.resolver_match.url_name == "login"%}active{% endif %}">
                Acesso
              </a>
              {% comment %} <a href="{% url 'password_reset' %}">recuperar</a> {% endcomment %}
            {% endif %}
          </li>
      </ul>
      <ul id="slide-out" class="sidenav">
        <li><a href="/" class="color-gray">Home</a></li>
        <li><a href="{% url 'grupo:grupos' %}" class="color-gray ">Grupos</a></li>
        <li><a href="/eventos/lista-de-eventos/" class="color-gray">Eventos</a></li>
        <li><a href="{% url 'artigo:artigos' %}" class="color-gray">Artigos</a></li>
        <li><a href="{% url 'contato:contato' %}" class="color-gray">Contato</a></li>
        <li>
          {% if user.is_authenticated %}
          <a class='dropdown-trigger color-gray outline' href='#' data-target='dropdown2'>Menu</a>
          <ul id='dropdown2' class='dropdown-content'>
            <li>
              <a class="color-gray" href="{% url 'usuario:perfil' %}"> Perfil </a>
            </li>
            <li>
              <a class="color-gray" href="{% url 'usuario:logout' %}"> Sair </a>
            </li>
          </ul>

          {% else %}
            <a href="{% url 'usuario:login' %}" class="color-gray {% if request.resolver_match.url_name == "login"%}active{% endif %}">
              Acesso
            </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  <div class="content" >
    {% block content %}

    {% endblock %}
  </div>
  <footer class="background-black">
    <div class="col m6">
      <p class="color-white">
        © Copyright Direita Unida 2019. Todos os direitos reservados.
      </p>
    </div>
    <div class="col m6">
      <a href="https://github.com/Filip3Dev" target="_blank">
        <img src="https://avatars1.githubusercontent.com/u/19575298?s=460&v=4" alt="" width="30" title="Feito com carinho por Filipe Machado"/>
      </a>
    </div>
  </footer>
  <script>
    $('.dropdown-trigger').dropdown({
      coverTrigger: false
    });
  </script>
  {% block extra_js %}
  {% endblock %}
  <!-- ANALITICS -->
</body>
</html>
