<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link rel="stylesheet" href="../static/css/app.css" media="screen">
  <script src="../static/js/dist/app.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <title>Principio Ativo</title>
</head>
<body class="tips-back">
  <div class="" style="min-height: 100%; position: relative;">
    <nav class="background-white area-nav esx">
        <div class="nav-wrapper">
          <a href="{% url 'website:home' %}" class="brand-logo center">
            <img src="../static/img/logo.png" alt="" class="logo">
          </a>
          <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul class="side-nav" id="mobile-demo">
          <li><a href="{% url 'website:lojas' %}" class="color-gray">Nossas Lojas</a></li>
          <li><a href="{% url 'website:quem-somos' %}" class="color-gray">Quem Somos</a></li>
          <li><a href="{% url 'website:produtos' %}" class="color-gray">Produtos</a></li>
          <li><a href="{% url 'website:receitas' %}" class="color-gray">Orçamento</a></li>
          <li><a href="{% url 'website:saude' %}" class="color-gray">Dicas de Saúde</a></li>
          <li><a href="{% url 'website:contato' %}" class="color-gray">Fale Conosco</a></li>
          </ul>
        </div>
      </nav>
  {% block content %}

  {% endblock %}
  </div>
  <!-- <footer class="background-black anex">
    <div class="col m6">
      <p class="color-white">
        © Copyright Principio Ativo 2017. Todos os direitos reservados.
      </p>
    </div>
    <div class="col m6">
      <a href="http://128bits.cc/">
        <img src="http://www.pi.senac.br/static/frontend/img/128bits.png" alt="" />
      </a>
    </div>
  </footer> -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-97520637-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
