


@import "slick.scss"
@import "slick-theme.scss"

@import "header"
@import "settings"
@import "base"
@import "mixing"

$slick-next-character: '\f105'
$slick-prev-character: '\f104'
$slick-font-path: '../fonts/'

.slick-prev, .slick-next
    z-index: 100
.slick-prev
  left: 2%
.slick-next
  right: 2%
.slick-next:before, .slick-prev:before
  font-size: 30px !important
