body
  overflow-x: hidden
.arm
  padding: 0 1% !important
  height: 100%
  #dropdown1
    li
      height: auto
      transition: all 0.3s ease-out
      background: #fff
      &:hover
        background: #cecece
        transition: all 0.3s ease-in
  li
    height: 100%
    padding: 0px 10px
    a
      height: 100%
      transition: all .4s ease
      font-weight: 300 !important
      &:hover
        color: #00a859
        background-color: transparent !important
.danger
  text-align: center
  background: #f96a6a
  color: white
  height: 40px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 8px
.cadastro
  margin: 0px 25%
  padding: 16px
  box-shadow: 0px 0px 5px 0px #b1b1b1
  margin-bottom: 10%
  .helptext
    display: none
  .errorlist
    color: red
    margin-top: 0px
  input, p
    margin-bottom: 0px
.leason
  width: 70%
.transpar
  background-color: rgba(255, 255, 255, 0.79)
.content
  padding: 1px
  min-height: 100%
  margin: 0 auto -30px
  padding-top: 64px
  .heroes
    max-height: calc(100vh - 64px)
    height: calc(100vh - 64px)
    position: relative
    .images
      height: calc(100vh - 64px)
      display: flex
      position: absolute
    .titles
      position: relative
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      background: rgba(0, 0, 0, 0.5)
      h1
        color: white
        font-weight: bold
.with-bord
  border-right: 1px black solid
.bg-img
  background: url(../img/bg2.png)
  height: 40vh
  margin: 0 !important
.title-notice
  display: flex
  margin: 0 !important
  align-items: center
.title-main
  font-weight: bold
  margin: 0 !important
.img-inter
  width: auto
  height: 320px
.in-flex
  display: flex
  margin-bottom: 1%
  height: 17vw
  .description
    padding: 2% 1%
    font-family: "Roboto"
.categoria
  display: flex
  align-items: center
  font-size: 1.1em
  font-weight: 400
  pre
    font-family: "Roboto" !important
    margin: 0px !important
.shared
  display: flex
  align-items: center
  justify-content: flex-start
.title
  font-weight: bold
  color: black
  font-size: 1.5em
  transition: all 0.5s ease
  &:hover
    color: #666
  .thumb
    padding: 1%
    img
      width: 600px
      height: 100%
.floater
  position: fixed
  top: 85vh
  right: 10vw
  border-radius: 16px
.pagination li.active
  background: #6ABC80 !important
ul
  &.pagination 
    margin-bottom: 48px
    li 
      a
        font-size: 1.8rem
        margin-bottom: 16px
.input-field.col
  label
    left: 1.2rem
.gray
  background-color: rgba(224, 224, 224, 0.67)!important
.other-form
  display: block
  cursor: pointer
  min-height: 3rem
  line-height: 3rem
  padding: 0 1rem
  background-color: #26a69a !important
  border: none !important
  width: 50vh
.collapsible
  border: none !important
  box-shadow: none !important
.better-form
  padding: 0 10% !important
  input, .materialize-textarea
    background-color: rgba(224, 224, 224, 0.67)!important
.esx
  height: 15vmin
  line-height: 7.5vw
  position: relative !important
.section
  height: 80vmin !important
  background-size: 100% 100% !important
  background-repeat: no-repeat !important
  padding: 0 !important
.melhor
  background: url(../img/bg.jpg)
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 70vh
  display: flex
  padding: 0px 4%
  p
    font-weight: 200
    margin: 0
    padding-left: 10%
    b
      font-weight: 400
  .description
    padding-top: 4%
    width: 60%
    margin-right: 15%
    font-size: 3em
    margin: 0
    padding-left: 0
    padding-right: 15%
  .imagem
    padding-top: 3%
  a
    font-size: 0.4em
    margin-left: 10%
.pro
  background-image: url(../img/bg2.png)
  background-position: center top
  background-repeat: no-repeat
  background-size: cover
  padding: 3% 0
  margin-bottom: 0
  h3
    padding-top: 2%
  img
    width: 15vw
    border-radius: 50%
.woman
  width: 17.5em
.no-margin
  margin: 0 0 !important
.products
  height: auto
.imgFloat
  width: 50px
  position: relative
.ui-card
  max-width: 100%
  min-height: 0
  height: 330px
  background: #FFF
  border: none
  border-radius: .28571429rem
  box-shadow: 1px 3px 4px 0 #D4D4D5
  margin-bottom: 5%
  padding: 8px !important
  transition: all .6s ease
.modal-content
  .responsive-img
    height: auto
    width: auto
.alliged
  padding: 10px !important
  text-align: center !important
.internalImg
  width: 200px !important
  height: 100% !important
  margin: 0px auto !important
  object-fit: cover
.ui-image
  img
    display: block
    -webkit-box-flex: 0
    -ms-flex: 0 0 auto
    flex: 0 0 auto
    width: auto
    margin: 0px auto
    height: 12em
    background: rgba(0,0,0,.05)
    border-radius: 3px 3px 0 0
.ui-content
  // display: flex
  // flex-direction: column
  border: none
  border-top: 1px solid rgba(34,36,38,.1)
  background: 0 0
  margin: 0
  padding: 1em
  box-shadow: none
  font-size: 1em
  border-radius: 0
.ui-description
  text-align: left
  font-size: 1.2em
.ui-date
  font-size: 1em
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
  line-height: 1.2em
  max-height: 3.6em
.ui-card, .ui-image
  padding: 0
  position: relative
img
  max-width: 100%
.produtos
  text-align: center
  img
    height: 12em
    width: 100%
.dicas1
  height: 32em
  background-image: url(../img/bg2.png)
  padding: 3%
  display: table
  .woman
    float: right
    margin-right: 2%
.lojas-img
  height: 55vh
.description
  padding: 8%
#map
  width: 100%
  height: 100%
  margin-top: 3%
  padding: 300px
  border-top: 1px black solid
footer
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 4%
  width: 100%
.reff
  margin: 0px
.ress
  margin-top: 0px
.autor
  color: #a8a8a8
  font-size: 13px
  margin: 0px
.aboutus
  max-width: 280px
  padding-bottom: 50px
.betwinLinks
  margin: 0px
  padding: 0px
  list-style: none
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
.collapsible.sansa
  margin-top: 0px
.flexerGroups
  display: flex
  margin-bottom: 1px
  margin: 8px 0px
  box-shadow: 0px 0px 3px 1px #cccccc
  border-radius: 4px
  padding: 8px
  .imagens
    display: flex
    align-items: center
    img
      border-radius: 100%
  .textos
    padding-left: 16px
    h5, h4, h3
      color: black
      padding: 0px
      margin: 0px
      cursor: pointer
    p, small
      color: gray
    div
      p
        margin: 0px
        opacity: 0.7
.pagination
  text-align: center
.loginAlert
  font-size: 16px
.basecard
  height: 190px
  overflow: hidden
.locations
  padding: 8px !important
  div
    display: flex
    align-items: flex-start
    flex-direction: column
    p
      font-size: 11px
      width: 100%
.card-content.mapView
  padding: 16px
  height: 450px
  #map
    padding: 25%
    margin: 0px
@media screen and (max-width: 480px)
  .formerCadastro
    width: 90% !important
  nav 
    .logo
      width: 35% !important
      display: flex
      align-items: center
      justify-content: center
      align-self: center
      margin: 0px auto
  .card-content.lowPadding
    padding: 16px
  .betwinLinks
    li
      text-align: center
      a
        text-align: center
        img
          width: 40px
  .loginAlert
    font-size: 10px
  .floater
    right: 5vw
  h4
    &#topo
    font-size: 1.8em
  .cadastro
    margin: 0 6%
    border-radius: 8px
  footer
    p
      font-size: 10px
    a
      img
        display: flex
  .content 
    min-height: 100vh
    .heroes
      max-height: calc(70vh - 64px)
      height: calc(70vh - 64px)
      .images
        height: calc(70vh - 64px)
      .titles 
        h1
          text-align: center
          font-size: 3.2rem
  .flexin
    display: flex
    .sidenav-trigger
      display: flex
      align-items: center
      justify-content: center
      align-self: center
      i
        font-size: 32px
        color: black
        font-weight: 600
  .brand-logo
    width: 4em
    display: flex !important
    align-items: center
    justify-content: center
    align-self: center
  nav 
    .logo
      width: 55%
      display: flex
      align-items: center
      justify-content: center
      align-self: center
      margin: 0px auto
    nav 
      .sidenav-trigger 
        i
          color: black
          font-size: 32px
          font-weight: 600
  .blue-bar
    h4
      font-size: 22px
  .tip-main
    left: 0 !important
    padding: 8px 0px !important
    width: 100% !important
    .little-box
      p
        height: 85px
        overflow: hidden
  .sprout, .drag-target, #sidenav-overlay
    display: none
  #mobile-demoz
    box-sizing: border-box
    padding-top: 6em
    transition: all 0.3s ease
  .buildo
    transform: translateX(0px) !important
    transition: all 0.4s ease
  .bblindo
    display: flex
    align-items: center
    flex-direction: column
  .video
    iframe
      width: 90vw
      height: 40vh
  .mapView
    padding: 0px !important
  .card-content.mapView
    padding: 0px
    height: auto
    #map
      padding: 50%
      margin: 0px
  #map
    width: 100%
    height: 100%
    margin: 0px auto
    left: -10px
    padding: 178px
    border-top: 1px black solid
    &.mobile
      left: 0px
  .title-bar
    display: none
  .section
    height: 60vmin!important
  .dicas1
    margin-bottom: 10%
  .in-flex
    .description
      .bowner
        height: 88px
        overflow: hidden
      .title
        h5
          height: 48px
          overflow: hidden
  .modal
    h4
      font-size: 22px
  .other-form
    padding: 0 0.1rem
    white-space: nowrap
  .list-spaced
    display: flex
    justify-content: space-around
    flex-direction: column
    margin: 0px auto
    text-align: -webkit-center
    .iten-list
      margin: 10px 0px
  .coverage
    height: 230px
    overflow: hidden
  .imgFloat
    display: none
  .product-list
    img
      width: 150px
      height: 120px
    h5
      font-size: 1.3em
      margin-bottom: 0px
  .in-flex
    height: 250px
    .thumb
      display: none
    .text
      height: 100px
      overflow: hidden
  .with-bord
    border: none
  .img-inter
    height: 250px
  .smalerHead
    font-size: 2.2rem
  .better-form
    padding: 0 1% !important
  .slider-for
    img
      min-height: 200px !important
      max-height: 250px !important
      min-width: 100%
      max-width: 100%
  .slider-nav
    img
      min-height: 70px !important
      max-height: 90px !important
  .addres
    font-size: 1.2rem !important
    width: 100% !important
  nav
    height: 75px
    ul
      display: block
    .button-collapse
      color: black
      padding: 5% 0
      i
        font-size: 35px
  .leason
    width: 90%
    margin: 0 auto
    p
      height: 65px
      overflow: hidden
    .autor
      display: none
  .side-nav
    top: 0px !important
    width: calc(100% - 30%) !important
  .content
    padding-top: 85px
  .melhor
    .imagem
      display: none
    .description
      width: 100%
      margin-right: 5%
      padding: 15% 1% 0 1%
      h3
        font-size: 0.8em
      p
        font-size: 0.7em
  .pro
    height: 30vh
    h3
      font-size: 1.4em
    h5
      font-size: 1em
  .products, .dicas1
    height: 100%
  .dicas1
    .woman
      display: none
  .aboutus
      display: none
.blue-bar
  color: white
  background-image: url(../img/bg.jpg)
  padding: 2% 2%
  background-position: center
  background-size: 100%
  height: 100%
  box-sizing: border-box
  background-repeat: no-repeat
  display: flex
  justify-content: space-between
  h4
    margin: 0px
    padding: 0px
    position: relative
.top-track
  height: 15vh !important
  margin-bottom: 0px
.span
  background-color: rgba(0, 175, 198, 0.6)
  position: absolute
  width: 100%
  left: 0
.side-nav
  top: 27vh
  width: 20vw
  height: 100%
  li.active
    background-color: rgba(0, 175, 198, 0.6)
.active
  // color: rgba(30, 96, 105, 0.86) !important
  color: #26a69a !important
  background-color: transparent!important
.fontStake
  font-size: 1.35em
  height: 60px
  overflow: hidden
.cod
  margin-bottom: 3%
.anex
  width: 80vw
  right: 0
  bottom: 0
.tip-main
  position: relative
  left: 20vw
  box-sizing: border-box
  padding: 1%
  width: 80vw
  height: auto
  max-height: 30em
  overflow-y: scroll
.little-box
  width: 92%
  height: 13.5em
  box-sizing: border-box
  padding: 5%
  box-shadow: 2px 4px 23px -5px rgba(0,0,0,0.75)
  background: white
  margin-bottom: 7%
  border-radius: 1%
.tips-back
  background: #e0e0e0
  overflow: hidden
.area-nav
  height: 12vh !important
  img
    padding: 5%


.search
	display: inline-block
	position: relative
	height: 35px
	width: 35px
	box-sizing: border-box
	margin: 0px 8px 7px 0px
	padding: 7px 9px 0px 9px
	border: 3px solid $icn-color
	border-radius: 25px
	transition: all 200ms ease
	cursor: text
	&:after
		content: ""
		position: absolute
		width: 3px
		height: 20px
		right: -5px
		top: 21px
		background: $icn-color
		border-radius: 3px
		transform: rotate(-45deg)
		transition: all 200ms ease
	&.active,
	&:focus
		width: 250px
		margin-right: 0px
		&:after
	  	height: 0px
	input
		width: 100%
		border: none
		box-sizing: border-box
		font-family: Helvetica
		font-size: 15px
		color: inherit
		background: transparent
		outline-width: 0px
.text-left
  text-align: left
.select-dropdown
  &.active
    background: #fff !important
    background-color: #fff !important
#inpt_search
  height: 1em
  color: black
  font-size: 17px
  &:focus
    border-bottom: none
    box-shadow: none
.bg-all
  padding: 3%
  background-size: 100% 100%
  min-height: 100%
.slider-for
  img
    min-height: 110px
    height: 330px
    object-fit: cover
    min-width: 100%
    max-width: 100%
.slider-nav
  img
    min-height: 130px
    max-height: 150px
    min-width: 99%
    max-width: 100%
.mais
  color: black
  font-size: 1.3em
  transition: all .4s ease
  &:hover
    color: green
