.material-icons.md-18
 font-size: 18px
.material-icons.md-24
 font-size: 24px
.material-icons.md-36
 font-size: 36px
.material-icons.md-48
 font-size: 48px


.brand-logo
  width: 5em
nav
  height: auto
  margin-bottom: 0 !important
  position: fixed
  z-index: 9000
  font-family: 'Bree Serif' !important
  .logo
    width: 60%
  ul
    display: flex
    justify-content: space-around
    font-family: 'Bree Serif' !important
    .center-logo
      padding: 0 1em
      a
        font-family: 'Bree Serif' !important
        &:hover
          background: none
    .logo
      position: relative
      max-height: 70px
    a
      font-size: 1.2em
.list-spaced
  display: flex
  justify-content: space-around
  .iten-list
    font-size: 1.3em
.product-list
  text-align: center
  img
    border: 1px black solid
    width: 18vw
    height: 15vw
