@import "settings"

.addres
  font-size: 1.34rem
  width: 85%
  margin-right: auto
  margin-left: auto
  font-weight: 300
.cadAll
  background-image: linear-gradient(to right top, #051937, #003b62, #00617a, #008676, #00a859)
  h3
    margin-top: 0px
    padding-top: 32px
  .outlinerB
    border-radius: 2px
    display: inline-block
    height: 36px
    line-height: 36px
    padding: 0 16px
    text-transform: uppercase
    background: #ffffff
    border: 1px solid #26a69a
    color: #26a69a
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
.bg-login
  background-image: linear-gradient(to right top, #051937, #003b62, #00617a, #008676, #00a859)
  padding: 5% 32% 5%
  background-size: cover
  min-height: 100%
  height: 95vh
  form
    padding: 0px 24px !important
    border-radius: 5px
    .outlinerB
      border-radius: 2px
      display: inline-block
      height: 36px
      line-height: 36px
      padding: 0 16px
      text-transform: uppercase
      background: #ffffff
      border: 1px solid #26a69a
      color: #26a69a
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
.danger
  text-align: center
  background: #f96a6a
  color: white
  height: 40px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 8px
.img-top-form
  width: 55%
.visualizar
  padding: 4px 8px
  background: black
  border-radius: 4px
  margin-bottom: 8px
  color: white
.marginT
  margin-top: 0px
.marginB
  margin-bottom: 0px
@each $color, $value in (blue, $principio-blue), (gray, $principio-gray), (white, $principio-white), (black, $principio-black), (light-gray, $principio-light-gray), (green, $principio-green)
  .background-#{$color}
    background-color: $value

  .color-#{$color}
    color: $value

  hr.color-#{$color}
    border-color: $value


@media screen and (max-width: 480px)
  .errorlist
    li
      color: red
  .bg-login
    background-image: linear-gradient(to right top, #051937, #003b62, #00617a, #008676, #00a859)
    padding: 5% 24px 5% !important
    background-size: cover
    min-height: 100%
    form 
      button, a
        font-size: 12px
  .formerCadastro
    button, a
      font-size: 12px
