{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}- Recuperação concluida{% endblock %}

{% block content %}
<style>
  .contentBody{
    min-height: 90vh;
    padding: 0px 10em;
    margin: 0px 10em;
    margin-top: 10em;
  }
  .contentBody h1{
    font-size: 30px;
    text-align: center;
  }
  .contentBody .p{
    text-align: center;
  }
  @media screen and (max-width: 480px){
    .contentBody{
      min-height: 95vh;
      padding: 0px 0em !important;
      margin: 0px 0em !important;
    }
  }
</style>
<div class="contentBody">
  <div>
    <h1>
        Senha recuperada com sucesso!
    </h1>
    <p class="p">
        Muito bem, sua senha já foi recuperada. Agora clique
        <a href="{% url 'usuario:login' %}">aqui</a>
        e faça login.
    </p>
  </div>
</div>
{% endblock %}
