{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}- E-mail Enviado{% endblock %}

{% block content %}
<style>
  .contentBody{
    min-height: 80vh;
    padding: 0px 10em;
    margin: 0px 10em;
    margin-top: 10em;
  }
  .contentBody h1{
    font-size: 30px;
    text-align: center;
  }
  .contentBody .p{
    text-align: center;
  }
  @media screen and (max-width: 480px){
    .contentBody{
      min-height: 95vh;
      padding: 0px 0em !important;
      margin: 0px 0em !important;
    }
  }
</style>
<div class="contentBody">
  <div>
    <h1>
    Por favor, verifique sua caixa de e-mail
    </h1>
    <p class="p">
      Você vai vai receber um link para criar sua nova senha.
    </p>
  </div>
</div>
{% endblock %}
