{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}- Recuperar senha{% endblock %}

{% block content %}
<style>
  .contentBody{
    min-height: 90vh;
    padding: 0px 10em;
    margin: 0px 10em;
    margin-top: 8em;
  }
  .contentBody h1{
    font-size: 30px;
    text-align: center;
  }
  .contentBody .p{
    text-align: center;
  }
  @media screen and (max-width: 480px){
    .contentBody{
      min-height: 95vh;
      padding: 0px 0em !important;
      margin: 0px 0em !important;
    }
  }
</style>

{% if validlink %}

<div class="contentBody">
  <div>
    <h1>
        Vamos cadastrar sua nova senha
    </h1>
  </div>
  <div>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="waves-effect waves-light btn">
        Confirmar
      </button>
  </div>
</div>

</form>

{% else %}

  <p>
    The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
  </p>

{% endif %}
{% endblock %}
