{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %} - Recuperar senha{% endblock %}

{% block content %}
<style>
  .contentBody{
    min-height: 90vh;
    padding: 0px 10em;
    margin: 0px 10em;
    margin-top: 10em;
  }
  .contentBody h1{
    font-size: 30px;
    text-align: center;
  }
  .contentBody .p{
    text-align: center;
  }
  @media screen and (max-width: 480px){
    .contentBody{
      min-height: 95vh;
      padding: 0px 0em !important;
      margin: 0px 0em !important;
    }
  }
</style>
<div class="contentBody">
  <div>
    <h1>Então você esqueceu a senha?</h1>
    <p class="p">Digite abaixo o seu e-mail, vamos mandar um link de recuperação em instantes.</p>
  </div>
  <div>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="waves-effect waves-light btn">
        Recuperar Senha
      </button>
    </form>
  </div>
</div>

{% endblock %}
