{% extends 'components/base2.html' %}

{% block content %}
<div class="row expaded top-track">
  <span class="span top-track"></span>
  <div class="blue-bar">
      <h4>Área do Profissional {{ request.GET.cat }}</h4>
    <form action="{% url 'website:area' %}" method="GET">
      <label class="search" for="inpt_search">
	    <input id="inpt_search" name="search" type="text" />
      </label>
    </form>
  </div>
</div>
<ul id="nav-mobile" class="side-nav fixed sprout" style="transform: translateX(0px);">
  {% for categoria in categoria_list %}
  <li class="bold">
    <a href="?cat={{categoria.nome_categoria}}" class="waves-effect waves-teal">{{categoria.nome_categoria}}</a>
  </li>
  {% endfor %}
</ul>
<ul class="side-nav" id="mobile-demoz" style="transform: translateX(-100%);">
  {% for categoria in categoria_list %}
  <li class="bold" onclick="location.href='?cat={{categoria.nome_categoria}}'">
    <a href="?cat={{categoria.nome_categoria}}" class="waves-effect waves-teal">{{categoria.nome_categoria}}</a>
  </li>
  {% endfor %}
</ul>
<main class="tip-main">
  <div class="row">
    {% for pdf in object_list %}
    <div class="col m3 s6 center-align">
      <div class="little-box" onclick="location.href='{{pdf.pdf.url}}';" style="cursor: pointer;">
        <p>{{pdf.titulo}}</p>
        <img src="../static/img/pdf.png" alt="">
      </div>
    </div>
    {% endfor %}
  </div>
</main>
<script type="text/javascript">
$("#inpt_search").on('click', function () {
$(this).parent('label').addClass('active');
});
$(document).ready(function () {
  console.log("opa");
  $("#mobile-demoz").sideNav();
});
$("#inpt_search").on('blur', function () {
if($(this).val().length == 0)
  $(this).parent('label').removeClass('active');
});
</script>

<script type="text/javascript">
$( ".button-collapse" ).on( "click", function( event ) {
  $( "#mobile-demoz" ).toggleClass("buildo");
});
$( ".drag-target" ).on( "click", function( event ) {
  $( "#mobile-demoz" ).removeClass("buildo");
});
</script>

<style media="screen">
  #mobile-demo{
    display: none !important;
  }
</style>
{% endblock %}
