<!-- templates/signup.html -->
{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<style>
  .warn{
    color: red;
  }
  .g-recaptcha > div{
    margin: 0px auto;
  }
</style>

<div class="cadAll">
  <div class="row">
    <br>
  </div>
  <div class="cadastro background-white">
    <div class="center">
      <h4 class="center">Cadastro</h4>
    </div>
    <div>
      {% if messages %}
        {% for message in messages %}
          <p class="warn">
            {{message}}
          </p>
        {% endfor %}
      {% endif %}
    </div>
    <form method="post" class="formerCadastro">
      {% csrf_token %}
      {% for field in form %}
  
      <div class="row">
        <div class="input-field col s12">
          {{ field.errors }}
          {{ field }}
          {{ field.label_tag }} 
        </div>
      </div>
      {% endfor %}
      <div class="row">
        <div class="col s12">
          <script src='https://www.google.com/recaptcha/api.js'></script>
          <div class="g-recaptcha" data-sitekey="6LffQvcUAAAAABnqV0c1P4QB7z215v9ETHkABqVS"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s5 center-align">
          <a href="/acesso/login/" class="waves-effect waves-light outlinerB">
            Login
          </a>
        </div>
        <div class="col s7 center-align">
          <button type="submit" name="button" class="waves-effect waves-light btn">
            Confirmar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <p>
      <br>
    </p>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('select').formSelect();
    $('select.multiselect').show();
    $("select").change(function () {
      getUF($('select').val())
    });
  });

  function getUF(id) {
    $.get(`http://servicodados.ibge.gov.br/api/v1/localidades/estados/${id}/municipios`, function (data) {
      const retorno = data.map(elem => elem.nome);
      var result = {};
      for (var i = 0; i < retorno.length; i++) {
        result[retorno[i]] = null;
      }
      $('input#id_cidade_usuario').autocomplete({
        data: result,
      });
    });
  }

</script>
{% endblock %}