{% extends 'components/base.html' %}

{% block content %}
<div class="bg-all">
<div class="container">
  <h3 class="center-align color-green">Fale Conosco</h3>
  <br>
  {% if message %}
  <p class="center-align color-green">
	  <strong>{{message}}</strong>
  </p>
  {% endif %}
  {% if message_err %}
  <p class="center-align">
	  <strong>{{message_err}}</strong>
  </p>
  {% endif %}
  <div class="row">
	  <form class="col s12 better-form" action="{% url "website:contato" %}" method="post">
      <div class="row">
        <div class="col m2 center hide-on-med-and-down">
          <img src="../static/img/mask.png" alt="" class="imgFloat">
        </div>
        <p class="center-align col s12 m10" style="font-size: 16px;">
          Se você tem alguma dúvida, sugestão, crítica ou elogio,
          preencha o nosso formulário de contato e nos envie sua mensagem.
        </p>
      </div>
	{% csrf_token %}
      <div class="row">
        <div class="input-field col s12 m6">
			{{form.nome}}
          <label for="name" data-error="wrong" >Nome</label>
        </div>
        <div class="input-field col s12 m6">
			{{form.email}}
          <label for="email" data-error="wrong" >E-mail</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
			{{form.telefone}}
          <label for="fone">Telefone</label>
        </div>
        <div class="input-field col s12 m6">
			{{form.cidade}}
          <label for="city">Cidade</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
			{{form.observacoes}}
          <label for="textarea1">Observações</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 right-align">
          <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
          </button>

        </div>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}
