<!-- templates/signup.html -->
{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<style>
  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
  .formerCadastro{
    width: 70%;
    margin: 0 auto;
  }
  
  #map {
    height: 100%;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .listContact{
    margin: 0px;
  }
  .listContact li{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .listContact li p{
    margin: 0px;
    margin-left: 8px;
  }
  .listContact li a{
    width: 25px;
  }
  .listContact li a img{
    width: 25px;
  }
  .g-recaptcha > div{
    margin: 0px auto;
  }
  .warn{
    color: red;
  }
</style>
<div class="container">
  <div class="row expanded">
    <br>
    <div class="col s12 m12 l12">
      <br>
      <h4 class="center">
        Entre em contato conosco
      </h4>
      <div class="divider"></div>
    </div>
  </div>
  <div class="row expanded">
    <div>
      {% if messages %}
        {% for message in messages %}
          <p class="warn">
            {{message}}
          </p>
        {% endfor %}
      {% endif %}
    </div>
    <form method="post" class="formerCadastro">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          {{ form.nome.errors }}
          {{ form.nome }}
          <label for="id_nome" class="">
            Digite seu nome
          </label>
        </div>
        <div class="input-field col s12 m12">
          {{ form.email.errors }}
          {{ form.email }}
          <label for="id_email" class="">
            Email para contato
          </label>
        </div>
        <div class="input-field col s12 m12">
          {{ form.texto.errors }}
          <textarea id="id_texto" name="texto" class="materialize-textarea" rows="4" cols="50"></textarea>
          <label for="id_texto" class="">
            Digite sua mensagem
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <script src='https://www.google.com/recaptcha/api.js'></script>
          <div class="g-recaptcha" data-sitekey="6LffQvcUAAAAABnqV0c1P4QB7z215v9ETHkABqVS"></div>
        </div>
      </div>
      
      <div class="row">
        <div class="col s6">
          <div>
            <ul class="listContact">
              <li>
                <a href="mailto:contato@direita-unida.com" target="_blank" rel="noopener noreferrer">
                  <img src="https://image.flaticon.com/icons/svg/732/732200.svg" alt="">
                </a>
                <p>
                  contato@direita-unida.com
                </p>
              </li>
              <li>
                <a href="https://t.me/joinchat/IB8rU0o4nqskaBQ-IvSqog" target="_blank" rel="noopener noreferrer">
                  <img src="https://image.flaticon.com/icons/svg/185/185977.svg" alt="">
                </a>
                <p>
                  Telegram
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col s6 center-align">
          <button type="submit" name="button" class="waves-effect waves-light btn">
            Enviar mensagem
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.15/dist/jquery.mask.min.js"></script>
<script>
  
</script>
<script>
  $(document).ready(function () {
    $('select').formSelect();
    $('#id_telefone').mask('(00) 00000-0000');
  });

</script>
{% endblock %}
