<!-- templates/signup.html -->
{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="center">
  <h3 class="center">Perfil</h3>
</div>
<div class="cadastro">
  <form method="post">
    {% csrf_token %}
    {% for field in form %}

    <div class="row">
      <div class="input-field col s12">
        {{ field.errors }}
        {{ field }}
        {{ field.label_tag }}
      </div>
    </div>
    {% endfor %}
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Cadastrar
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
<script>
  $(document).ready(function () {
    $('select').formSelect();
    $("select").change(function () {
      getUF($('select').val())
    });
  });

  function getUF(id) {
    $.get(`http://servicodados.ibge.gov.br/api/v1/localidades/estados/${id}/municipios`, function (data) {
      const retorno = data.map(elem => elem.nome);
      var result = {};
      for (var i = 0; i < retorno.length; i++) {
        result[retorno[i]] = null;
      }
      $('input#id_cidade_usuario').autocomplete({
        data: result,
      });
    });
  }

</script>
{% endblock %}