<!-- templates/signup.html -->
{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<style>
  #map {
    height: 100%;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #id_descricao{
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
  }
  .errorlist{
    color: red;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h4 class="center" id="topo">
        Socialize e compartilhe ideias em nossos eventos
      </h4>
      <br>
    </div>
    <div class="col s12 m12 l12">
      <h4 class="center">
        Criar Evento
      </h4>
      <div class="divider"></div>
    </div>
  </div>
  <div class="row">
    <form method="post" class="formerCadastro">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          {{ form.titulo.errors }}
          {{ form.titulo }}
          <label for="id_titulo" class="">
            Nome do Evento
          </label>
        </div>
        <div class="input-field col s12">
          {{ form.descricao.errors }}
          {{ form.descricao }}
          <label for="id_descricao" class="">
            Descrição do evento
          </label>
        </div>
        <div class="input-field col s6">
          {{ form.inicio.errors }}
          {{ form.inicio }}
          <label for="id_inicio" class="">
            Data do evento
          </label>
        </div>
        <div class="input-field col s6">
          {{ form.preco.errors }}
          {{ form.preco }}
          <label for="id_preco" class="">
            Taxa de participação do evento (R$)
          </label>
        </div>
        <div class="input-field col s12 m6">
          {{ form.link.errors }}
          {{ form.link }}
          <label for="id_link" class="">
            Link de divulgação do evento
          </label>
        </div>
        <div class="input-field col s12 m6">
          {{ form.estado.errors }}
          {{ form.estado }}
          <label for="id_estado" class="">
            Estado do grupo
          </label>
        </div>
        <div class="input-field col s12">
          <input id="id_endereco" maxlength="355" name="endereco" type="hidden">
          <input id="id_lon" maxlength="355" name="lon" type="hidden">
          <input id="id_lat" maxlength="355" name="lat" type="hidden">
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
            <h5>
              Selecione a localização geografica do evento clicando no mapa.
            </h5>
        </div>
        <div id="map"></div>
      </div>
      <div class="row">
        <div class="col s5 center-align"></div>
        <div class="col s7 center-align">
          <button type="submit" name="button" class="waves-effect waves-light btn">
            Confirmar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBTxe7umFpRdN0Gf7N0vY5j4clM69Pceg&callback=initMap" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.15/dist/jquery.mask.min.js"></script>
<script>
  function openSolution(lat, long) {
    let geocoder = new google.maps.Geocoder;
    let infoWindow = new google.maps.InfoWindow;
    let home = { lat: lat, lng: long };
    console.log('aqui')
    geocodeLatLng(geocoder, map, infoWindow, home);
    $('html, body').animate({
        scrollTop: $("#topo").offset().top
    }, 1000);
  }
  var map, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: -23.6112, lng: -48.4250 },
      zoom: 9,
      disableDefaultUI: true,
      zoomControl: true,
      styles: [{
        featureType: 'poi',
        stylers: [{ visibility: 'off' }]  // Turn off points of interest.
      }, {
        featureType: 'transit.station',
        stylers: [{ visibility: 'off' }]  // Turn off bus stations, train stations, etc.
      }],
    });
    var geocoder = new google.maps.Geocoder;
    infoWindow = new google.maps.InfoWindow;
    var chicago = { lat: -23.6112, lng: -48.4250 };
    var marker = new google.maps.Marker({
      position: chicago,
      map: map,
      title: 'Click to zoom'
    });
    map.addListener('click', function (event) {
      let home = { lat: event.latLng.lat(), lng: event.latLng.lng() };
      geocodeLatLng(geocoder, map, infoWindow, home);
      window.setTimeout(function () {
        map.setCenter(home);
        map.panTo(home);
        marker.setPosition(home);
      }, 1000);
    });

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        infoWindow.setPosition(pos);
        infoWindow.setContent('Localização encontrada.');
        infoWindow.open(map);
        map.setCenter(pos);
      }, function () {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
      'Erro: Não foi possivel acessar sua localização.' :
      'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }

  function geocodeLatLng(geocoder, map, infowindow, homer) {
    geocoder.geocode({'location': homer}, function(results, status) {
      $('#id_endereco').val(results[0].formatted_address);
      $('#id_lat').val(homer.lat);
      $('#id_lon').val(homer.lng);
      if (status === 'OK') {
        if (results[0]) {
          infowindow.setContent(results[0].formatted_address);
          infoWindow.setPosition(homer);
          infoWindow.open(map);
        } else {

        }
      } else {
        window.alert('Falha na requisição: ' + status);
      }
    });
  }
</script>
<script>
  var datepicker_pt_br = {
    today: 'Hoje', clear: 'Limpar', done: 'Ok', nextMonth: 'Próximo mês', previousMonth: 'Mês anterior', weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'], weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'], weekdays: ['Domingo', 'Segunda-Feira', 'Terça-Feira', 'Quarta-Feira', 'Quinta-Feira', 'Sexta-Feira', 'Sábado'], monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'], months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
  }
  var options = {
    container: 'body',
    showDaysInNextAndPreviousMonths: true,
    i18n: datepicker_pt_br,
    format: 'dd/mm/yyyy',
  }
  $(document).ready(function () { 
    $('#id_inicio').datepicker(options);
    $('select').formSelect();
    $('#id_telefone').mask('(00) 00000-0000');
  });

</script>
{% endblock %}
