<!-- templates/signup.html -->
{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<style>
  .flexmap{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
  }
  #map {
    height: 100%;
    padding: 50%;
    border: none;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .goLink{
    display: flex;
    align-items: center;
  }
  .goLink i{
    margin-left: 8px;
  }
  .address{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <br>
      <h4 class="center" id="topo">
        {{object.titulo}}
      </h4>
      <div class="divider"></div>
    </div>
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="col s12 m12 l12">
          <div>
            <br>
            <h6 class="">
              <b>
                Descrição
              </b>
            </h6>
            <h6 class="">
              {{object.descricao}}
            </h6>
          </div>
          <br>
        </div>
        <div class="col s12 m6 l6">
          <div>
            <h6>
              <b>
                Data do evento
              </b>
            </h6>
            <h6 class="">
              {{object.inicio}}
            </h6>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <div>
            <h6>
              <b>
                Link promocional do evento
              </b>
            </h6>
            <h6 class="">
              <a href="{{object.link}}" class="goLink" target="_blank">
                Acessar o link
                <i class="material-icons">launch</i>
              </a>
            </h6>
          </div>
          <br>
        </div>
        <div class="col s12 m12 l12">
          <div>
            <h6>
              <b>
                Endereço do evento
              </b>
            </h6>
            <h6 class="address">
              {{object.endereco}}
              <a href="http://www.google.com/maps/place/{{ object.lat }},{{ object.lon }}" class="goLink" target="_blank">
                Navegar
                <i class="material-icons">launch</i>
              </a>
            </h6>
          </div>
        </div>
        
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="card-content mapView">
              <div class="flexmap">
                <div id="map" class="mobile"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% if object.creation_user == user %}
      <div class="col s12 m12 l12 center">
        <div class="fixed-action-btn">
          <a class="btn-floating btn-large red">
            <i class="large material-icons">menu</i>
          </a>
          <ul>
            <li>
              <a href="/eventos/delete-evento/{{object.slug}}" class="btn-floating black darken-1">
                <i class="material-icons">delete</i>
              </a>
            </li>
            <li><a class="btn-floating red" href="/eventos/criar-evento/"><i class="material-icons">add_circle</i></a></li>
            <li><a href="/eventos/editar-evento/{{object.slug}}" class="btn-floating yellow darken-1"><i class="material-icons">create</i></a></li>
          </ul>
        </div>
      </div>
    {% else %}
      <div class="col s12 m12 l12 center">
        <a class="waves-effect waves-light btn floater" href="{% url 'evento:criar-evento' %}">
          Criar evento
        </a>
      </div>
    {% endif %}
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBTxe7umFpRdN0Gf7N0vY5j4clM69Pceg&callback=initMap" async defer></script>
<script>
  $(document).ready(function () {
    $('.fixed-action-btn').floatingActionButton();
    $('.collapsible').collapsible();
    $('.modal').modal();
    setTimeout(function () { openSolution({{ object.lat }}, {{ object.lon }}) }, 2000);
  });
  function openSolution(lat, long) {
    let geocoder = new google.maps.Geocoder;
    let infoWindow = new google.maps.InfoWindow;
    let home = { lat: lat, lng: long };
    geocodeLatLng(geocoder, map, infoWindow, home);
  }
  var map, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: {{ object.lat }}, lng: {{ object.lon }} },
      zoom: 10,
      disableDefaultUI: true,
      zoomControl: true,
      styles: [{
        featureType: 'poi',
        stylers: [{ visibility: 'off' }]  // Turn off points of interest.
      }, {
        featureType: 'transit.station',
        stylers: [{ visibility: 'off' }]  // Turn off bus stations, train stations, etc.
      }],
    });
    var geocoder = new google.maps.Geocoder;
    infoWindow = new google.maps.InfoWindow;
    var chicago = { lat: {{ object.lat }}, lng: {{ object.lon }} };
    var marker = new google.maps.Marker({
      position: chicago,
      map: map,
      title: 'Click to zoom'
    });
  }

  function geocodeLatLng(geocoder, map, infowindow, homer) {
    geocoder.geocode({'location': homer}, function(results, status) {
      if (status === 'OK') {
        if (results[0]) {
          infowindow.setContent(results[0].formatted_address);
          infoWindow.setContent(results[0].formatted_address);
          infoWindow.setPosition(homer);
          infoWindow.open(map);
          map.setCenter(homer);
          map.setZoom(14);
        } else {

        }
      } else {
        window.alert('Falha na requisição: ' + status);
      }
    });
  }
</script>
<script>
  $(document).ready(function () {
    $('select').formSelect();
    $('select.multiselect').show();
    $("select").change(function () {
      getUF($('select').val())
    });
  });

  function getUF(id) {
    $.get(`http://servicodados.ibge.gov.br/api/v1/localidades/estados/${id}/municipios`, function (data) {
      const retorno = data.map(elem => elem.nome);
      var result = {};
      for (var i = 0; i < retorno.length; i++) {
        result[retorno[i]] = null;
      }
      $('input#id_cidade_usuario').autocomplete({
        data: result,
      });
    });
  }

</script>
{% endblock %}
