<!-- templates/signup.html -->
{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<style>
  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
  #map {
    height: 100%;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #id_descricao{
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h4 class="center" id="topo">
        Socialize e compartilhe ideias em nossos eventos
      </h4>
      <br>
    </div>
    <div class="col s12 m12 l12">
      <h4 class="center">
        Editar Evento
      </h4>
      <div class="divider"></div>
    </div>
  </div>
  <div class="row">
    <form method="post" class="formerCadastro">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          {{ form.titulo.errors }}
          {{ form.titulo }}
          <label for="id_titulo" class="">
            Nome do Evento
          </label>
        </div>
        <div class="input-field col s12">
          {{ form.descricao.errors }}
          {{ form.descricao }}
          <label for="id_descricao" class="">
            Descrição do evento
          </label>
        </div>
        <div class="input-field col s6">
          {{ form.inicio.errors }}
          {{ form.inicio }}
          <label for="id_inicio" class="">
            Data do evento
          </label>
        </div>
        <div class="input-field col s6">
          {{ form.preco.errors }}
          {{ form.preco }}
          <label for="id_preco" class="">
            Taxa de participação do evento (R$)
          </label>
        </div>
        <div class="input-field col s12 m6">
          {{ form.link.errors }}
          {{ form.link }}
          <label for="id_link" class="">
            Link de divulgação do evento
          </label>
        </div>
        <div class="input-field col s12 m6">
          {{ form.estado.errors }}
          {{ form.estado }}
          <label for="id_estado" class="">
            Estado do grupo
          </label>
        </div>

        <div class="input-field col s12">
          {{ form.endereco.errors }}
          {{ form.endereco }}
          <label for="id_endereco" class="">
            Endereço do grupo
          </label>
        </div>
        <div class="input-field col s6">
          <input id="id_lon" maxlength="355" name="lon" type="hidden" value="{{object.lon}}">
        </div>
        <div class="input-field col s6">
          <input id="id_lat" maxlength="355" name="lat" type="hidden" value="{{object.lat}}">
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
            <h5>
              Selecione a localização geografica do grupo clicando no mapa.
            </h5>
        </div>
        <div id="map"></div>
      </div>
      <div class="row">
        <div class="col s5 center-align"></div>
        <div class="col s7 center-align">
          <button type="submit" name="button" class="waves-effect waves-light btn">
            Confirmar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBTxe7umFpRdN0Gf7N0vY5j4clM69Pceg&callback=initMap" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.15/dist/jquery.mask.min.js"></script>
<script>
  function openSolution(lat, long) {
      let geocoder = new google.maps.Geocoder;
      let infoWindow = new google.maps.InfoWindow;
      let home = { lat: lat, lng: long };
      console.log('aqui')
      geocodeLatLng(geocoder, map, infoWindow, home);
    }
    var map, infoWindow;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: '{{object.lat}}', lng: '{{object.lon}}' },
        zoom: 15,
        disableDefaultUI: true,
        zoomControl: true,
        styles: [{
          featureType: 'poi',
          stylers: [{ visibility: 'off' }]  // Turn off points of interest.
        }, {
          featureType: 'transit.station',
          stylers: [{ visibility: 'off' }]  // Turn off bus stations, train stations, etc.
        }],
      });
      var geocoder = new google.maps.Geocoder;
      infoWindow = new google.maps.InfoWindow;
      var chicago = { lat: '{{object.lat}}', lng: '{{object.lon}}' };
      var marker = new google.maps.Marker({
        position: chicago,
        map: map,
        title: 'Click to zoom'
      });
      map.addListener('click', function (event) {
        let home = { lat: event.latLng.lat(), lng: event.latLng.lng() };
        geocodeLatLng(geocoder, map, infoWindow, home);
        window.setTimeout(function () {
          map.setCenter(home);
          map.panTo(home);
          marker.setPosition(home);
        }, 1000);
      });
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Erro: Não foi possivel acessar sua localização.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }

    function geocodeLatLng(geocoder, map, infowindow, homer) {
      geocoder.geocode({ 'location': homer }, function (results, status) {
        $('#id_endereco').val(results[0].formatted_address);
        $('#id_lat').val(homer.lat);
        $('#id_lon').val(homer.lng);
        if (status === 'OK') {
          if (results[0]) {
            let home = { lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng() };
            infowindow.setContent(results[0].formatted_address);
            infoWindow.setPosition(home);
            infoWindow.open(map);
            map.setCenter(home);
            map.panTo(home);
          } else {
            console.log('Deu erro')
          }
        } else {
          window.alert('Falha na requisição: ' + status);
        }
      });
    }
</script>
<script>
  var datepicker_pt_br = {
    today: 'Hoje', clear: 'Limpar', done: 'Ok', nextMonth: 'Próximo mês', previousMonth: 'Mês anterior', weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'], weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'], weekdays: ['Domingo', 'Segunda-Feira', 'Terça-Feira', 'Quarta-Feira', 'Quinta-Feira', 'Sexta-Feira', 'Sábado'], monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'], months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
  }
  var options = {
    container: 'body',
    showDaysInNextAndPreviousMonths: true,
    i18n: datepicker_pt_br,
    format: 'dd/mm/yyyy',
  }
  $(document).ready(function () {
    setTimeout(function () { openSolution({{ object.lat }}, {{ object.lon }}) }, 2000);
    $('select').formSelect();
    $('#id_telefone').mask('(00) 00000-0000');
    $('#id_inicio').datepicker(options);
  });

</script>
{% endblock %}
