<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Direita Unida</title>
</head>
<body>
  <style>
    body{

    }
    form{
      padding: 8em;
      text-align: center;
    }
    h5{
      font-size: 36px;
      font-weight: 500;
    }
    p{
      font-size: 20px;
    }
    button{
      padding: 10px 24px;
      border-radius: 4px;
      font-size: 17px;
      color: red;
      box-shadow: 0px 2px 3px 0px #f00;
      cursor: pointer;
    }
  </style>
  <form method="post">{% csrf_token %}
    <h5>
      Deseja deletar o grupo
    </h5>
    <p>"{{ object.nome }}" ?</p>
    <button type="submit">
      Confirmar
    </button>
  </form>
</body>
</html>