<!-- templates/signup.html -->
{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<style>
  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
  #map {
    height: 100%;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h4 class="center" id="topo">
        Socialize e compartilhe ideias com nossos grupos
      </h4>
      <br>
    </div>
    <div class="col s12 m12 l12">
      <h4 class="center">
        Editar Grupo
      </h4>
      <div class="divider"></div>
    </div>
  </div>
  <div class="row">
    <form method="post" class="formerCadastro">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          {{ form.nome.errors }}
          {{ form.nome }}
          <label for="id_nome" class="">
            Nome do Grupo
          </label>
        </div>
        <div class="input-field col s12">
          {{ form.descricao.errors }}
          {{ form.descricao }}
          <label for="id_descricao" class="">
            Descrição do grupo
          </label>
        </div>
        <div class="input-field col s12">
          {{ form.categoria.errors }}
          {{ form.categoria }}
          <label for="id_categoria" class="">
            Categoria do grupo
          </label>
        </div>
        <div class="input-field col s12">
          {{ form.subcategoria.errors }}
          {{ form.subcategoria }}
          <label for="id_subcategoria" class="">
            Subcategoria do grupo
          </label>
        </div>
        <div class="input-field col s12 m4">
          {{ form.telefone.errors }}
          {{ form.telefone }}
          <label for="id_telefone" class="">
            Telefone para contato sobre o grupo
          </label>
        </div>
        <div class="input-field col s12 m4">
          {{ form.email.errors }}
          {{ form.email }}
          <label for="id_email" class="">
            Email para contato sobre o grupo
          </label>
        </div>
        <div class="input-field col s12 m4">
          {{ form.estado.errors }}
          {{ form.estado }}
          <label for="id_estado" class="">
            Estado do grupo
          </label>
        </div>
        <div class="input-field col s12">
          {{ form.endereco.errors }}
          {{ form.endereco }}
          <label for="id_endereco" class="">
            Endereço do grupo
          </label>
        </div>
        <div class="input-field col s6">
          <input id="id_lon" maxlength="355" name="lon" type="hidden" value="{{object.lon}}">
        </div>
        <div class="input-field col s6">
          <input id="id_lat" maxlength="355" name="lat" type="hidden" value="{{object.lat}}">
        </div>
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12 m4">
              {{ form.plataforma1.errors }}
              {{ form.plataforma1 }}
              <label for="id_plataforma1" class="">
                Plataforma do grupo
              </label>
            </div>
            <div class="input-field col s12 m8">
              {{ form.link1.errors }}
              {{ form.link1 }}
              <label for="id_link1" class="">
                Link de acesso ao grupo
              </label>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12 m4">
              {{ form.plataforma2.errors }}
              {{ form.plataforma2 }}
              <label for="id_plataforma2" class="">
                Plataforma do grupo
              </label>
            </div>
            <div class="input-field col s12 m8">
              {{ form.link2.errors }}
              {{ form.link2 }}
              <label for="id_link2" class="">
                Link de acesso ao grupo
              </label>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12 m4">
              {{ form.plataforma3.errors }}
              {{ form.plataforma3 }}
              <label for="id_plataforma3" class="">
                Plataforma do grupo
              </label>
            </div>
            <div class="input-field col s12 m8">
              {{ form.link3.errors }}
              {{ form.link3 }}
              <label for="id_link3" class="">
                Link de acesso ao grupo
              </label>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12 m4">
              {{ form.plataforma4.errors }}
              {{ form.plataforma4 }}
              <label for="id_plataforma4" class="">
                Plataforma do grupo
              </label>
            </div>
            <div class="input-field col s12 m8">
              {{ form.link4.errors }}
              {{ form.link4 }}
              <label for="id_link4" class="">
                Link de acesso ao grupo
              </label>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12 m4">
              {{ form.plataforma5.errors }}
              {{ form.plataforma5 }}
              <label for="id_plataforma5" class="">
                Plataforma do grupo
              </label>
            </div>
            <div class="input-field col s12 m8">
              {{ form.link5.errors }}
              {{ form.link5 }}
              <label for="id_link5" class="">
                Link de acesso ao grupo
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
            <h5>
              Selecione a localização geografica do grupo clicando no mapa.
            </h5>
        </div>
        <div id="map"></div>
      </div>
      <div class="row">
        <div class="col s5 center-align"></div>
        <div class="col s7 center-align">
          <button type="submit" name="button" class="waves-effect waves-light btn">
            Confirmar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBTxe7umFpRdN0Gf7N0vY5j4clM69Pceg&callback=initMap" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.15/dist/jquery.mask.min.js"></script>
<script>
  function openSolution(lat, long) {
    let geocoder = new google.maps.Geocoder;
    let infoWindow = new google.maps.InfoWindow;
    let home = { lat: lat, lng: long };
    console.log('aqui')
    geocodeLatLng(geocoder, map, infoWindow, home);
  }
  var map, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: '{{object.lat}}', lng: '{{object.lon}}' },
      zoom: 15,
      disableDefaultUI: true,
      zoomControl: true,
      styles: [{
        featureType: 'poi',
        stylers: [{ visibility: 'off' }]  // Turn off points of interest.
      }, {
        featureType: 'transit.station',
        stylers: [{ visibility: 'off' }]  // Turn off bus stations, train stations, etc.
      }],
    });
    var geocoder = new google.maps.Geocoder;
    infoWindow = new google.maps.InfoWindow;
    var chicago = { lat: '{{object.lat}}', lng: '{{object.lon}}' };
    var marker = new google.maps.Marker({
      position: chicago,
      map: map,
      title: 'Click to zoom'
    });
    map.addListener('click', function (event) {
      let home = { lat: event.latLng.lat(), lng: event.latLng.lng() };
      geocodeLatLng(geocoder, map, infoWindow, home);
      window.setTimeout(function () {
        map.setCenter(home);
        map.panTo(home);
        marker.setPosition(home);
      }, 1000);
    });
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
      'Erro: Não foi possivel acessar sua localização.' :
      'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }

  function geocodeLatLng(geocoder, map, infowindow, homer) {
    geocoder.geocode({'location': homer}, function(results, status) {
      $('#id_endereco').val(results[0].formatted_address);
      $('#id_lat').val(homer.lat);
      $('#id_lon').val(homer.lng);
      if (status === 'OK') {
        if (results[0]) {
          let home = { lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng() };
          infowindow.setContent(results[0].formatted_address);
          infoWindow.setPosition(home);
          infoWindow.open(map);
          map.setCenter(home);
          map.panTo(home);
        } else {
          console.log('Deu erro')
        }
      } else {
        window.alert('Falha na requisição: ' + status);
      }
    });
  }
</script>
<script>
  $(document).ready(function () {
    setTimeout(function () { openSolution({{ object.lat }}, {{ object.lon }}) }, 2000);
    $('select').formSelect();
    $('#id_telefone').mask('(00) 00000-0000');
    $('#id_plataforma1').autocomplete({
      data: {
          "Facebook": 'https://image.flaticon.com/icons/svg/187/187189.svg',
          "Telegram": 'https://image.flaticon.com/icons/svg/185/185977.svg',
          "WhatsApp": 'https://image.flaticon.com/icons/svg/185/185988.svg',
          "Discord": 'https://image.flaticon.com/icons/svg/906/906361.svg',
          "Skype": 'https://image.flaticon.com/icons/svg/185/185965.svg',
          "Twitter": 'https://image.flaticon.com/icons/svg/185/185961.svg',
          "YouTube": 'https://image.flaticon.com/icons/svg/185/185983.svg',
          "Instagram": 'https://image.flaticon.com/icons/svg/185/185985.svg',
          "Pinterest": 'https://image.flaticon.com/icons/svg/187/187203.svg',
          "Line": 'https://image.flaticon.com/icons/svg/185/185980.svg',
          "Link": 'https://image.flaticon.com/icons/svg/1849/1849017.svg'
        },
      });
    $('#id_plataforma2').autocomplete({
      data: {
          "Facebook": 'https://image.flaticon.com/icons/svg/187/187189.svg',
          "Telegram": 'https://image.flaticon.com/icons/svg/185/185977.svg',
          "WhatsApp": 'https://image.flaticon.com/icons/svg/185/185988.svg',
          "Discord": 'https://image.flaticon.com/icons/svg/906/906361.svg',
          "Skype": 'https://image.flaticon.com/icons/svg/185/185965.svg',
          "Twitter": 'https://image.flaticon.com/icons/svg/185/185961.svg',
          "YouTube": 'https://image.flaticon.com/icons/svg/185/185983.svg',
          "Instagram": 'https://image.flaticon.com/icons/svg/185/185985.svg',
          "Pinterest": 'https://image.flaticon.com/icons/svg/187/187203.svg',
          "Line": 'https://image.flaticon.com/icons/svg/185/185980.svg',
          "Link": 'https://image.flaticon.com/icons/svg/1849/1849017.svg'
        },
      });
    $('#id_plataforma3').autocomplete({
      data: {
          "Facebook": 'https://image.flaticon.com/icons/svg/187/187189.svg',
          "Telegram": 'https://image.flaticon.com/icons/svg/185/185977.svg',
          "WhatsApp": 'https://image.flaticon.com/icons/svg/185/185988.svg',
          "Discord": 'https://image.flaticon.com/icons/svg/906/906361.svg',
          "Skype": 'https://image.flaticon.com/icons/svg/185/185965.svg',
          "Twitter": 'https://image.flaticon.com/icons/svg/185/185961.svg',
          "YouTube": 'https://image.flaticon.com/icons/svg/185/185983.svg',
          "Instagram": 'https://image.flaticon.com/icons/svg/185/185985.svg',
          "Pinterest": 'https://image.flaticon.com/icons/svg/187/187203.svg',
          "Line": 'https://image.flaticon.com/icons/svg/185/185980.svg',
          "Link": 'https://image.flaticon.com/icons/svg/1849/1849017.svg'
        },
      });
    $('#id_plataforma4').autocomplete({
      data: {
          "Facebook": 'https://image.flaticon.com/icons/svg/187/187189.svg',
          "Telegram": 'https://image.flaticon.com/icons/svg/185/185977.svg',
          "WhatsApp": 'https://image.flaticon.com/icons/svg/185/185988.svg',
          "Discord": 'https://image.flaticon.com/icons/svg/906/906361.svg',
          "Skype": 'https://image.flaticon.com/icons/svg/185/185965.svg',
          "Twitter": 'https://image.flaticon.com/icons/svg/185/185961.svg',
          "YouTube": 'https://image.flaticon.com/icons/svg/185/185983.svg',
          "Instagram": 'https://image.flaticon.com/icons/svg/185/185985.svg',
          "Pinterest": 'https://image.flaticon.com/icons/svg/187/187203.svg',
          "Line": 'https://image.flaticon.com/icons/svg/185/185980.svg',
          "Link": 'https://image.flaticon.com/icons/svg/1849/1849017.svg'
        },
      });
    $('#id_plataforma5').autocomplete({
      data: {
          "Facebook": 'https://image.flaticon.com/icons/svg/187/187189.svg',
          "Telegram": 'https://image.flaticon.com/icons/svg/185/185977.svg',
          "WhatsApp": 'https://image.flaticon.com/icons/svg/185/185988.svg',
          "Discord": 'https://image.flaticon.com/icons/svg/906/906361.svg',
          "Skype": 'https://image.flaticon.com/icons/svg/185/185965.svg',
          "Twitter": 'https://image.flaticon.com/icons/svg/185/185961.svg',
          "YouTube": 'https://image.flaticon.com/icons/svg/185/185983.svg',
          "Instagram": 'https://image.flaticon.com/icons/svg/185/185985.svg',
          "Pinterest": 'https://image.flaticon.com/icons/svg/187/187203.svg',
          "Line": 'https://image.flaticon.com/icons/svg/185/185980.svg',
          "Link": 'https://image.flaticon.com/icons/svg/1849/1849017.svg'
        },
      });
    });

</script>
{% endblock %}
