<!-- templates/signup.html -->
{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<style>
  .flexmap{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
  }
  #map {
    height: 100%;
    padding: 50%;
    border: none;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <br>
      <h4 class="center" id="topo">
        {{object.nome}}
      </h4>
    </div>
    <div class="divider"></div>
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="">
            <div class="locations">
              <h6 class="">
                <b>
                  Descrição
                </b>
              </h6>
              <h6 class="">
                {{object.descricao}}
              </h6>
            </div>
          </div>
        </div>
        
        <div class="col s12 m12 l12"></div>
        <div class="col s12 m6 l6">
          <div class="">
            <div class="locations">
              <h6>
                <b>
                  Categoria
                </b>
              </h6>
              <h6 class="">
                {{object.categoria}}
              </h6>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <div class="">
            <div class="locations">
              <h6>
                <b>
                  Subcategoria
                </b>
              </h6>
              <h6 class="">
                {{object.subcategoria}}
              </h6>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l12"></div>
        <div class="col s12 m5 l5">
          <div class="">
            <div class="locations">
              <h6>
                <b>
                  Endereço das reuniões do grupo
                </b>
              </h6>
              <p class="">
                {{object.endereco}}
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m3 l3">
          <div class="">
            <div class="locations">
              <h6>
                <b>
                  Telefone para contato
                </b>
              </h6>
              <p class="">
                <a href="tel:{{object.telefone}}">
                  {{object.telefone}}
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m3 l3">
          <div class="">
            <div class="locations">
              <h6>
                <b>
                  Email do grupo
                </b>
              </h6>
              <p class="">
                <a href="mailto:{{object.email}}">
                  {{object.email}}
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l12"></div>
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="card-content lowPadding">
              <ul class="betwinLinks">
                {% if object.plataforma1 %}
                  <li>
                    <a href="{{object.link1}}" target="_blank">
                      <img src="/static/img/iconess/{{object.plataforma1}}.svg" alt="" srcset="" width="60">
                      <h6 class="center">
                        {{ object.plataforma1 }}
                      </h6>
                    </a>
                  </li>
                {% endif %}
                {% if object.plataforma2 %}
                  <li>
                    <a href="{{object.link2}}" target="_blank">
                      <img src="/static/img/iconess/{{object.plataforma2}}.svg" alt="" srcset="" width="60">
                      <h6 class="center">
                        {{ object.plataforma2 }}
                      </h6>
                    </a>
                  </li>
                {% endif %}
                {% if object.plataforma3 %}
                  <li>
                    <a href="{{object.link3}}" target="_blank">
                      <img src="/static/img/iconess/{{object.plataforma3}}.svg" alt="" srcset="" width="60">
                      <h6 class="center">
                        {{ object.plataforma3 }}
                      </h6>
                    </a>
                  </li>
                {% endif %}
                {% if object.plataforma4 %}
                  <li>
                    <a href="{{object.link4}}" target="_blank">
                      <img src="/static/img/iconess/{{object.plataforma4}}.svg" alt="" srcset="" width="60">
                      <h6 class="center">
                        {{ object.plataforma4 }}
                      </h6>
                    </a>
                  </li>
                {% endif %}
                {% if object.plataforma5 %}
                  <li>
                    <a href="{{object.link5}}" target="_blank">
                      <img src="/static/img/iconess/{{object.plataforma5}}.svg" alt="" srcset="" width="60">
                      <h6 class="center">
                        {{ object.plataforma5 }}
                      </h6>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="card-content mapView">
              <div class="flexmap">
                <div id="map" class="mobile"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% if object.creation_user == user %}
      <div class="col s12 m12 l12 center">
        <div class="fixed-action-btn">
          <a class="btn-floating btn-large red">
            <i class="large material-icons">menu</i>
          </a>
          <ul>
            <li>
              <a href="/grupos/delete-grupo/{{object.slug}}" class="btn-floating black darken-1">
                <i class="material-icons">delete</i>
              </a>
            </li>
            <li><a class="btn-floating red" href="/grupos/criar-grupo/"><i class="material-icons">add_circle</i></a></li>
            <li><a href="/grupos/editar-grupo/{{object.slug}}" class="btn-floating yellow darken-1"><i class="material-icons">create</i></a></li>
          </ul>
        </div>
      </div>
    {% else %}
      <div class="col s12 m12 l12 center">
        <a class="waves-effect waves-light btn floater" href="{% url 'grupo:criar-grupos' %}">
          Criar grupo
        </a>
      </div>
    {% endif %}
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBTxe7umFpRdN0Gf7N0vY5j4clM69Pceg&callback=initMap" async defer></script>
<script>
  $('.fixed-action-btn').floatingActionButton();
  $('.collapsible').collapsible();
  $('.modal').modal();
  setTimeout(function () { console.log('BOm dia') }, 1000);
  setTimeout(function () { openSolution({{ object.lat }}, {{ object.lon }}) }, 2000);
  function openSolution(lat, long) {
    let geocoder = new google.maps.Geocoder;
    let infoWindow = new google.maps.InfoWindow;
    let home = { lat: lat, lng: long };
    geocodeLatLng(geocoder, map, infoWindow, home);
  }
  var map, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: {{ object.lat }}, lng: {{ object.lon }} },
      zoom: 10,
      disableDefaultUI: true,
      zoomControl: true,
      styles: [{
        featureType: 'poi',
        stylers: [{ visibility: 'off' }]  // Turn off points of interest.
      }, {
        featureType: 'transit.station',
        stylers: [{ visibility: 'off' }]  // Turn off bus stations, train stations, etc.
      }],
    });
    var geocoder = new google.maps.Geocoder;
    infoWindow = new google.maps.InfoWindow;
    var chicago = { lat: {{ object.lat }}, lng: {{ object.lon }} };
    var marker = new google.maps.Marker({
      position: chicago,
      map: map,
      title: 'Click to zoom'
    });
  }

  function geocodeLatLng(geocoder, map, infowindow, homer) {
    geocoder.geocode({'location': homer}, function(results, status) {
      if (status === 'OK') {
        if (results[0]) {
          infowindow.setContent(results[0].formatted_address);
          infoWindow.setContent(results[0].formatted_address);
          infoWindow.setPosition(homer);
          infoWindow.open(map);
          map.setCenter(homer);
          map.setZoom(14);
        } else {

        }
      } else {
        window.alert('Falha na requisição: ' + status);
      }
    });
  }
</script>
{% endblock %}
