<!-- templates/signup.html -->
{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<style>
  .flexmap{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
  }
  #map {
    height: 100%;
    padding: 50%;
    border: none;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h4 class="center" id="topo">
        Socialize e compartilhe ideias com nossos grupos
      </h4>
      <form action="/grupos/lista-de-grupos" method="get" class="col s12">
        <div class="row">
          <div class="input-field col m5 s12">
            <input id="estado" name="estado" type="text" class="validate">
            <label for="estado">Busca por estado</label>
          </div>
          <div class="input-field col m5 s7">
            <input id="nome" name="nome" type="text" class="validate">
            <label for="nome">Busca por nome</label>
          </div>
          <div class="input-field col m2 s5">
            <button class="btn waves-effect waves-light" type="submit" name="action">
              Buscar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="row">
        {% for grupo in grupos_list %}
          <div class="col s12 m12 l12">
            {% if user_loged == True %}
            <a href="/grupos/grupo/{{grupo.slug}}">
              <div class="flexerGroups">
                <div class="textos">
                  <h5>
                    {{grupo.nome}}
                  </h5>
                  <div>
                    <p>
                      {{grupo.categoria}}
                    </p>
                    <small>
                      {{grupo.descricao}}
                    </small>
                  </div>
                </div>
              </div>
            </a>
            {% else %}
              <a onclick="M.toast({html: 'Faça login para ter acesso aos grupos'})">
                <div class="flexerGroups">
                  <div class="textos">
                    <h5>
                      {{grupo.nome}}
                    </h5>
                    <div>
                      <p>
                        {{grupo.categoria}}
                      </p>
                      <small>
                        {{grupo.descricao}}
                      </small>
                    </div>
                  </div>
                </div>
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col s12 m12 l12 center">
      <a class="waves-effect waves-light btn floater" href="{% url 'grupo:criar-grupos' %}">
        Criar grupo
      </a>
    </div>
  </div>
  <div class="row">
    {% if is_paginated %}
    <ul class="pagination text-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
      {% ifequal num page_obj.number %}
      <li class="active"><a href="#">{{ num }}</a></li>
      {% else %}
      <li><a href="?page={{ num }}">{{ num }}</a></li>
      {% endifequal %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
      {% endif %}
      <ul>
        {% endif %}
  </div>
</div>
{% endblock %}
