{% extends 'components/base.html' %}
{% load staticfiles %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block title %}- Home{% endblock %}
{% block content %}
<script>
  {% if messages %}
    {% for message in messages %}
      M.toast({ html: message })
    {% endfor %}
  {% endif %}
</script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  {% for iten in banner_list %}
    {% if iten.ativo  %}
      <section class="heroes">
        <div class="images">
          <img src="media/{{iten.imagem}}" alt="">
        </div>
        <div class="titles">
          <h1>
            {{iten.titulo}}
          </h1>
        </div>
      </section>
    {% else %}
    {% endif %}
  {% endfor %}
  <div class="row">
    <div class="col s12">
      <h3 class="center">
        <b>{{titulo.titulo}}</b>
      </h3>
      <h5 class="center">
        {{titulo.Subtitulo}}
      </h5>
    </div>
    <div class="col s12">
      <div>
        <div id="map"></div>
      </div>
    </div>
    <div class="col s12">
      <h4 class="center">
        Links de apoio  
      </h4>
    </div>
    <div class="col s12">
      <div class="row">
        {% for iten in banner_anuncio_list %}
          {% if iten.ativo  %}
            <div class="col s12 m6">
              <br>
              <div class="center">
                <a href="{{iten.url}}" target="_blank">
                  <img src="{{iten.imagem}}" alt="" srcset="">
                </a>
              </div>
            </div>
          {% else %}
          {% endif %}
        {% endfor %}

        {% for iten in banner_bitcoin_list %}
          {% if iten.ativo  %}
            <div class="col s12 m6">
              <br>
              <div class="center">
                <a href="{{iten.url}}" target="_blank">
                  <img src="{{iten.imagem}}" alt="" srcset="">
                </a>
              </div>
            </div>
          {% else %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <p>
    <br>
  </p>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBTxe7umFpRdN0Gf7N0vY5j4clM69Pceg&callback=initMap" async defer></script>
  <script>
    var map, infoWindow;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: -15.778932172938335, lng: -47.85835391656951 },
          zoom: 4,
          disableDefaultUI: true,
          gestureHandling: 'cooperative',
          zoomControl: true,
          styles: [{
            featureType: 'poi',
            stylers: [{ visibility: 'off' }]
          }, {
            featureType: 'transit.station',
            stylers: [{ visibility: 'off' }]
          }],
        });

        var geocoder = new google.maps.Geocoder;
        infoWindow = new google.maps.InfoWindow;
        var features = []
        {% for message in grupos_list %}
          {% if message.lat != '' %}
            features.push({
              position: new google.maps.LatLng({{ message.lat }}, {{ message.lon }}),
              texto: '<h6 class="marginB"><b>{{message.nome}}</b></h6> <p class="marginT">{{message.descricao}}</p> <a href="/grupos/grupo/{{message.slug|safe}}" class="visualizar">Visualizar</a> <br/> <p></p>'
            })
          {% else %}

          {% endif %}
        {% endfor %}
        for (var i = 0; i < features.length; i++) {
          var marker = new google.maps.Marker({
            position: features[i].position,
            icon: '/static/img/pin.png',
            animation: google.maps.Animation.DROP,
            map: map,
          });
          addInfoWindow(marker, features[i].texto);
        };
        function addInfoWindow(marker, message) {
          var infoWindow = new google.maps.InfoWindow({
            content: message
          });
          google.maps.event.addListener(marker, 'click', function () {
            infoWindow.open(map, marker);
          });
        }
      }
  </script>
{% endblock %}
