{% extends 'components/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load materialize %}

{% block content %}
<style>
  .danger{
    text-align: center;
    background: #f96a6a;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
</style>
<div class="bg-login">

  <div class="row">
    <form class="col s12 background-white" action={% url 'usuario:login' %} method="post">
        <h4 class="center">
          Acessar
        </h4>
        {% csrf_token %}

        <div class="row no-margin">

          {% for field in form %}
          
          <div class="row no-margin">
            <div class="input-field col s12">
              {{ field.errors }}
              {{ field }}
              {{ field.label_tag }}
            </div>
          </div>
          {% endfor %}
          {% if message_err %}
          <p class="red-text center-align">
        	  <strong>{{message_err}}</strong>
          </p>
          {% endif %}
        </div>
        <div class="row">
          <div class="col s7">

          </div>
          <div class="col s5">
            <div style="text-align: right;">
              <a href="{% url 'password_reset' %}" class="">
                Recuperar senha
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s5 center-align">
            <div class="input-field inline">
              <a href="/acesso/cadastro/" class="waves-effect waves-light outlinerB">
                Cadastrar
              </a>
            </div>
          </div>
          <div class="col s7 center-align">
            <div class="input-field inline">
              <button type="submit" name="button" class="waves-effect waves-light btn">
                Confirmar
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

</div>
<script>
  var texto = document.location.search;
  var resposta = texto.search('next')
  if (resposta == 1) {
    M.toast({ html: 'Você precisa fazer login para continuar' })
  }
</script>
{% endblock %}
