{% extends 'components/base.html' %}
{% load lojas_tags %}

{% block content %}

<div class="bg-all">

  <div class="row">
    <div class="col m12 s12">
      <h2 class="center-align color-green">Nossas Lojas</h2>
    </div>
    {% for loja in lojas_list %}
    <div class="row">
      <div class="col m6 s12 center-align">
        <div class="col m12 s12 center-align">
          <h5 class="center-align">{{loja.cidade}}</h5>
          <div class="slider-for">
          {% loja_album loja.id as album %}
          {% for fotografia in album %}
            <div class="">
              <img src="{{fotografia.imagem.url}}" title=""/>
            </div>
          {% endfor %}
          </div>
        </div>
        <div class="col m12 s12 center-align">
          <div class=" slider-nav">
          {% loja_album loja.id as album %}
          {% for fotografia in album %}
            <div class="">
              <img src="{{fotografia.imagem.url}}" title=""/>
            </div>
          {% endfor %}
          </div>
        <h5 class="center-align addres">{{loja.endereco}}</h5>
        <h5 class="center-align addres">{{loja.telefone}}</h5>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div id="map"></div>
  </div>
</div>
<script>
    function initMap() {


        {% for loja in lojas_list %}
        {% if loja.latitude or loja.longitude %}
        {% var_name loja.cidade forloop.counter as loja_name %}
        var {{loja_name}} = {lat: {{loja.latitude}}, lng: {{loja.longitude}}};
        {% endif %}
        {% endfor %}

        {% for loja in lojas_list %}
        {% if loja.latitude or loja.longitude %}
        {% var_name loja.cidade forloop.counter as loja_name %}
        // Create a map object and specify the DOM element for display.
        {% if forloop.first %}

        var map = new google.maps.Map(document.getElementById('map'), {
          center: {{loja_name}},
          scrollwheel: false,
          zoom: 9
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: {{loja_name}},
          title: 'Principio Ativo'
        });
        {% else %}
        var marker{{forloop.counter}} = new google.maps.Marker({
          map: map,
          position: {{loja_name}},
          title: 'Principio Ativo'
        });
        {% endif %}
        {% endif %}
        {% endfor %}
      }

    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBTxe7umFpRdN0Gf7N0vY5j4clM69Pceg&callback=initMap" async defer></script>
<script type="text/javascript">
$(document).ready(function () {

  $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    autoplay: true,
    autoplaySpeed: 9000,
    asNavFor: '.slider-nav'
  });

  $('.slider-nav').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    asNavFor: '.slider-for',
    dots: false,
    arrows: false,
    centerMode: true,
    focusOnSelect: true
  });

});
</script>

{% endblock %}
