{% extends 'components/base.html' %}

{% block content %}

<style>
  .content{
    min-height: 100vh;
  }
</style>
<div class="row">
  <div class="col m12 s12 l12">
    <h2 class="center-align color-green smalerHead">Artigos</h2>
  </div>
  <br>

  <div class="row">
    {% for noticia in object_list %}
    <div class="col m12 s12 l12">

      <div class="container">
        <div class="row">
          <div class="col m4 s12 l4">
            <a href="{% url 'artigo:artigo-interno' noticia.slug %}" class="thumb">
              <img class="" src="{{noticia.imagem}}" alt="" />
            </a>
          </div>
          <div class="col m8 s12 l8">
            <div class="description">
              <span class="colo-black categoria">
                <p> {{noticia.categoria}} - </p>
                <p class="color-gray"> {{noticia.criado_em}}</p>
              </span>
              <a href="{% url 'artigo:artigo-interno' noticia.slug %}" class="title">{{noticia.titulo}}</a>
              <div class="shared">
                <pre>Compartilhado por: </pre>
                <span>{{noticia.autor}}</span>
              </div>
              <p>
                {{noticia.texto|truncatechars_html:320}}
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    {% endfor %}
    <div class="col m12 s12 l12 center-align">
      <div class="row">
        {% if is_paginated %}
        <ul class="pagination text-center">
          {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
          <li class="disabled"><a href="#">&laquo;</a></li>
          {% endif %}
      
          {% for num in page_obj.paginator.page_range %}
          {% ifequal num page_obj.number %}
          <li class="active"><a href="#">{{ num }}</a></li>
          {% else %}
          <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endifequal %}
          {% endfor %}
      
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
          <li class="disabled"><a href="#">&raquo;</a></li>
          {% endif %}
          <ul>
            {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
