{% extends 'components/base.html' %}

{% block content %}
<div class="bg-all">
<div class="row expanded">

<div class="row">
  <div class="col m12 s12">
    <span class="colo-black title-notice">
      <pre class="color-gray"> {{object.criado_em|date:"SHORT_DATE_FORMAT"}}</pre>
    </span>
    <h4 class="title-main">{{object.titulo}}</span></h4>
    <p>
        Compartilhado por: <span>{{object.autor}}</span>
    </p>
    <p>

    </p>
    <div class="center-align">
      <img class="img-inter" src="{{object.imagem}}" alt="" />
    </div>
    <p>
      {{object.noticia|safe}}
    </p>
  </div>
  <div class="col m12 s12">
    <br>
    
    <br>
  </div>

  <div class="row">
    <div class="col m12 s12">
      {% if noticias_list.object_list.count %}
      <h3 class="center-align color-green"><b>Veja mais</b></h3>
      {% for noticia in noticias_list %}
        <div class="col m4 s12 center-align">
          <a href="{% url 'artigo:artigo-interno' noticia.slug %}">
            <img src="{{noticia.imagem.url}}" alt="" srcset="" width="190">
            <p class="mais">{{noticia.titulo}}</p>
          </a>
        </div>
        {% endfor %}
      {% else %}
    
      {% endif %}
    </div>
  </div>

</div>
</div>

</div>
{% endblock %}
