{% extends 'components/base.html' %}
{% block content %}
<div class="bg-all">
  <div class="container">
    <div class="row">
      <div class="col m12 s12 l12">
        <h3 class="center-align color-green smalerHead">Conheça nossos Produtos</h3>
      </div>

      <div class="col m12 s12 l12 hide-on-small-only">
        <ul class="list-spaced">
          <li class="iten-list">
            <a href="/produtos?cat=todos" class="{% if 'todos' in request.get_full_path %} color-black {%endif%}">
              Todos
            </a>
          </li>
          {% for categoria in categoria_list %}
          <li class="iten-list">
            <a href="/produtos?cat={{categoria.nome}}" class="{% if categoria.nome|urlencode in request.get_full_path %} color-black {%endif%}">
              {{categoria.nome}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col m12 s12 l12 hide-on-med-and-up">
        <select id="mySelect" onchange="location = this.value;">
          <option value="/produtos?cat=todos" >Todos</option>
          {% for categoria in categoria_list %}
          {% if categoria.nome|urlencode in request.get_full_path %}
          <option value="/produtos?cat={{categoria.nome}}" selected>{{categoria.nome}}</option>
          {%else%}
          <option value="/produtos?cat={{categoria.nome}}">{{categoria.nome}}</option>
          {%endif%}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row product-list">
      {% for produto in object_list %}
      <div class="col m3 s6 l3 cod">
        <a href="#{{produto.nome}}{{produto.id}}">
          <img src="{{produto.imagem.url}}" alt="{{produto.nome}}">
          <p class="reff">COD: {{produto.referencia}}</p>
          <p class="fontStake ress">{{produto.nome}}</p>
        </a>
        </div>

        <div id="{{produto.nome}}{{produto.id}}" class="modal">
          <div class="modal-content">
            <div class="col m4 s12 l4">
              <img class="responsive-img" src="{{produto.imagem.url}}" alt="">
            </div>
            <div class="col m8 s12 l8">
              <h4 >{{produto.nome}} - {{produto.referencia}}</h4>
              <p class="text-left">{{produto.detalhes}}</p>
              <br>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock %}

  {% block extra_js %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('select').material_select();
    $('.modal').modal({endingTop: '20%'});
  });
  </script>
  {% endblock %}
