{% extends 'components/base.html' %}


{% block content %}
<div class="bg-all">
  <div class="row">
    <div class="col m12 s12">
      <h3 class="center-align color-green">Quem Somos</h3>
    </div>
    <div class="col m6 s12">
      <div class="col m12 s12">
        <p class="center-align">
          {{quem.texto}}
        </p>
      </div>
      <div class="col m12 s12">
        <h4 class="center-align color-green">Missão</h4>
      </div>
      <div class="col m12 s12">
        <p class="center-align">
          {{missao.texto}}
        </p>
      </div>
      <div class="col m12 s12">
        <h4 class="center-align color-green">Visão</h4>
      </div>
      <div class="col m12 s12">
        <p class="center-align">
          {{visao.texto}}
        </p>
      </div>
      <div class="col m12 s12">
        <h4 class="center-align color-green">Valores</h4>
      </div>
      <div class="col m12 s12 bblindo">
        {% for valor in valores %}
        <div class="col m4 center-align">
          -{{valor.texto}}
        </div>
        {% endfor %}
      </div>
      <br><br>
    </div>
    <div class="col m6 s12 center-align video">
      <br>
	  <iframe width="560" height="315" src="https://www.youtube.com/embed/SnvuYEXjH0Y?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock %}
