{% extends 'components/base.html' %}
{% load staticfiles %}
{% block content %}
<style media="screen">
  #segundofile, #ultimofile{
    display: none;
  }
</style>
<div class="bg-all">
  <div class="container">
      <h3 class="center-align color-green smalerHead">Faça seu orçamento online conosco!</h3>
    {% if message %}
    <p id="sucesso" class="center-align color-green">
      <strong>{{message}}</strong>
    </p>
    {% endif %}
    {% if message_err %}
    <p class="center-align">
      <strong>{{message_err}}</strong>
    </p>
    {% endif %}
    <br>
      <p class="center-align" style="font-size: 16px;">
        Envie sua receita que em breve entraremos em contato com você via e-mail ou whatsapp.
      </p>
      <div class="row">
      <form id="form-fitness" class="col s12 better-form" action={% url 'website:receitas' %} enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12 m6">
          {{form.nome}}
          <label for="name" data-error="wrong" >Nome</label>
        </div>
        <div class="input-field col s12 m6">
          {{form.email}}
          <label for="email" data-error="wrong" >E-mail</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          {{form.telefone}}
          <label for="fone">Telefone</label>
        </div>
        <div class="input-field col s12 m6">
          {{form.cidade}}
          <label for="city">Cidade</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{form.observacoes}}
          <label for="textarea1">Observações</label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12 m6">
          <div class="btn">
            <i class="material-icons">attach_file</i>
            {{form.receita1}}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Anexar Receita">
          </div>
        </div>
        <div class="file-field input-field col s12 m6">
          <button type="button" name="button" class="btn waves-effect waves-light" id="btn1m">
            <i class="material-icons">add_circle_outline</i>
          </button>
        </div>
      </div>

      <div class="row" id="segundofile">
        <div class="file-field input-field col s12 m6">
          <div class="btn">
            <i class="material-icons">attach_file</i>
            {{form.receita2}}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Anexar Receita">
          </div>
        </div>
        <div class="file-field input-field col s12 m6">
          <button type="button" name="button" class="btn waves-effect waves-light" id="btn2m">
            <i class="material-icons">add_circle_outline</i>
          </button>
        </div>
      </div>

      <div class="row" id="ultimofile">
        <div class="file-field input-field col s12 m6">
          <div class="btn">
            <i class="material-icons">attach_file</i>
            {{form.receita3}}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Anexar no máximo 3 receitas">
          </div>
        </div>
      </div>

  </div>

    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header other-form btn waves-effect waves-light">
          #Formula Fitness Feita Pra Mim
        </div>
          <div class="collapsible-body">
            <h5 class="color-green center-align">Para podermos lhe ajudar na escolha dos seus produtos, responda o questionário:</h5>
            <div class="row">
                <div class="row">
                    <p>01 - Retenção de Liquidos(Inchaços)</p>
                    {{form.retencao}}
                </div>
                <div class="row">

                  <p>02 - Funcionamento Intestinal </p>
                  {{form.funcionamento}}
                </div>
                <div class="row">

                  <p>03 - Ansiedade </p>
                  {{form.ansiedade}}
                </div>
                <div class="row">

                  <p>04 - Come muito durante as principais refeições? </p>
                  {{form.durante_refeicoes}}
                </div>
                <div class="row">

                  <p>05 - Come muito entre as refeições (habito de "beliscar") </p>
                  {{form.entre_refeicoes}}
                </div>
                <div class="row">
                  <p>06 - Come mais o que?</p>
                  {{form.come_mais}}
                  <label>Materialize Select</label>
                </div>
                <div id="alergia" class="row">

                  <p>07 - Tem alergia a algum medicamento? </p>
                  {{form.alergia}}
                  <p>
                    {{form.alergia_texto}}
                    <label for="textarea2">Quais?</label>
                  </p>
                </div>
                <div class="row">
                  <p>08 - Faz uso de algum medicamento?</p>
                  {{form.medicamento}}
                </div>
                <div class="row">
                  <p>09 - Tem alguma doença/problema crônico?</p>
                  {{form.doenca}}
                </div>
                <div class="row">
                  <p>10 - Faz alguma atividade fisica?</p>
                  {{form.atividade}}
                </div>
                <div class="row">
                  <p>11 - Fuma?</p>
                  {{form.fuma}}
                </div>
                <div class="row">
                  <p>12 - Consome bebida alcoólica?</p>
                  {{form.alcool}}
                </div>
                <div class="row">
                  <p>13 - Faz algum procedimento estético?</p>
                  {{form.procedimento_estetico}}
                </div>
                <div id="objetivo" class="row">
                  <p>14 - Qual o seu objetivo?</p>
                  {{form.objetivo}}
                  <label>Materialize Select</label>
                  {{form.descricao_objetivo}}
                  <label for="textarea3">Observações</label>
                </div>



            </div>
          </div>
        </li>
      </ul>


    <div class="row">
      <div class="input-field col s12 right-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
          <i class="material-icons right">send</i>
        </button>

      </div>
    </div>
    </form>
  </div>
    <br><br>
  </div>
  <script src="{% static 'js/dist/forms.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
  if ($("#sucesso").length == 1) {
    {% for field in form %}
    $("#{{field.id_for_label}}").val('')
    {% endfor %}
  };
  $( "#btn1m" ).click(function() {
    $('#segundofile').css( "display", "block" );
    $(this).css( "background-color", "#eae9e6" );
    $(this).css( "cursor", "no-drop" );
    $(this).css( "touch-action", "none" );
  });
  $( "#btn2m" ).click(function() {
    $('#ultimofile').css( "display", "block" );
    $(this).css( "background-color", "#eae9e6" );
    $(this).css( "cursor", "no-drop" );
    $(this).css( "touch-action", "none" );
  });
  </script>
{% endblock %}
